.header{
    .nav{
        .container{
         max-width:1700px;
         width: 100%;
         margin: 0 auto;
         background:#FFF;
            .navbar{
                padding-left: 85px;;
                
                &__block{
                display: flex;
                align-items: center;
                justify-content: center;
                    &__menu{
                    display:flex;
                    align-items: center;
                    padding-left:700px;
                   gap:30px;
                   padding-top: 20px;
                        &-items{
                         text-align: right;
                         font-family:'Kumbh Sans';
                         font-size: 15px;
                         font-style: normal;
                         font-weight: 400;
                         line-height: 24px;
                         letter-spacing: -0.3px;
                         list-style:none;
                        
                        } 
                        &-list{
                         color: #4A556C;
                         text-decoration: none;  
                        }
                        &-btn{
                         color: #FFF;
                         text-align: right;
                         font-family:'Kumbh Sans';
                         font-size: 14px;
                         font-style: normal;
                         font-weight: 600;
                         line-height: 130%;
                         padding: 11px 16px;
                         border-radius: 4px;
                         background: #20AD96;
                         border: none;
                         cursor: pointer;
                         transition:0.5s ease;
                        }
                        &-btn:hover{
                         background-color:#0df9d2;
                        }
                        &-btn:active{
                         transform: scale(0.6);
                        }
                    }
                }
            }
        }
    }
    .container{
        max-width:1700px;
        width: 100%;
        margin: 0 auto;
        background:#FAF8F6;
        .About{
            &__me{
                display:flex;
                align-items: center;
                gap:300px;
                padding-top: 100px;
               
                .About__me__success{
                 padding-left: 100px;
                    .About__me__success-span{
                     color:#4A556C;
                     font-family:'Kumbh Sans';
                     font-size: 16px;
                     font-style: normal;
                     font-weight: 400;
                     line-height: 24px;
                     letter-spacing: -0.32px;
                     opacity: 0.4;
                    }
                    .About__me__success-h1{
                      width: 520px;
                      color: #333461;
                      font-family:'Kumbh Sans';
                      font-size: 72px;
                      font-style: normal;
                      font-weight: 800;
                      line-height: 120%;
                      letter-spacing: -0.72px;
                    }
                    .About__me__success-p{
                        width: 545px;
                        color: #4A556C;
                        font-family:'Kumbh Sans';
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 160%;
                    }
                    .About__me__success-btt{
                        color:#FFF;
                        font-family:'Kumbh Sans';
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                        padding: 9px 16px;
                        border-radius: 10px;
                        background: #20AD96;
                        border:none;
                        cursor: pointer;
                        transition: 0.5s ease;
                    }
                    .About__me__success-btt:hover{
                     background-color:#0df9d2;
                    }
                    .About__me__success-btt:active{
                     transform: scale(0.6);
                    }
                }
                .About__me__mg{
                 position: relative;
                 .About__me__mg-mg1{
                   padding: 24px 24px;
                   border-radius:  333px; 
                    background: #FFF;
                    box-shadow: 0px 48px 72px 0px rgba(177, 186, 200, 0.12);
                    position: absolute;
                    z-index: 2;
                    margin-left: 98px;
                    margin-top: -40px;
                
                 }
                 .About__me__mg-mg2{
                    width: 462px;
                    height: 603px;
                  
                 }
                 .About__me__mg-mg3{
                    position: absolute; 
                    z-index: 2;
                  margin-top: 193px;
                  margin-left: -145px;
                 
                
                 }
                }
            }
        }
    }
}